.titillium-web-regular {
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
header {
    width: 100%;
    height: auto;
    background-color: #fff;
    padding: 0px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: solid 3px #001cd0;
    
}

header img {
    width: 20%;
    height: auto;
    margin-right: 40%;
    margin-left: 2%;
    max-width: fit-content;
    
}

.header-button {
    margin-left: 1%;
    margin-right: 2vw;
    padding: 5%;
    border: 2px solid #001cd0;
    border-radius: 50px;
    background-color: transparent;
    font-size: 2vw;
    width: auto;
    max-width: fit-content;
    font-family:'Titillium Web', sans-serif;;

  
}

.header-button:hover {
    background-color:  #001cd0;
    color: #fff; 
}

h1 {
    margin-top: 10%; 
    color: #000; 
    font-size: 500%; 
    font-weight: 500; 
    text-align: center; 
    font-family: 'Titillium Web', sans-serif;
    letter-spacing: 10px;
    margin-bottom: 1%;
}

h2 {
    margin-top: 1%; 
    color: #000000; 
    font-size: 150%;
    font-weight: 400;  
    text-align: justify; 
    font-family: 'Titillium Web', sans-serif;
    letter-spacing: 2px;
    max-width: 80%;
    margin-left: 10%;

}
.minha-foto {
    width: 15%;
    margin: 0 auto;
    border-radius: 50%;
    border: 5px solid  #001cd0; 
    overflow: hidden;
    aspect-ratio: 1 / 1;
    margin-top: 0%;
    
}

.minha-foto img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.img-pc {
    width: 100%;
    margin-top: 1%; 
    text-align: center;
   
}

.img-pc img{
    width: 50%;
    height: 4%;
}
.section-blue {
    background-color: #001cd0; 
    padding: 50px; 
    text-align: center; 
}
.title-section {
    color: #fff; 
    font-size: 48px;
    font-family: 'Titillium Web', sans-serif; 
}
.text {
    color: #fff; 
    font-size: 24px;
    font-family: 'Titillium Web', sans-serif; 
    text-align: justify;
}
.linguagens {
    margin-top: 1%;
    text-align: center;
    background-color: #fff;
    border-radius: 2%;
    
}

.linguagens h3 {
    color: #001cd0;
    font-size: 72px;
    font-family: 'Titillium Web', sans-serif;
    margin-bottom: 0%;
}

.linguagens-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.linguagens figure {
    text-align: center;
    margin-bottom: 20px;
}

.linguagens figcaption {
    margin-top: 10px;
}

.linguagens img {
    width: 200px; 
    height: auto;
    margin-top: 5%;

}

.linguagens figure {
    position: relative;
}

.linguagens figcaption {
    position: top;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 5px 0px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 14px;
    border-radius: 5px;
}
.project-row {
    display: flex;
    justify-content: center;
   
}

.project {
    width: 50%;
    margin-left: 5%;
    margin-right: 5%;
    
}
.section-projects h3 {
    color: #001cd0;
    font-size: 72px;
    font-family: 'Titillium Web', sans-serif;
    margin-bottom: 3%;
    text-align: center;
}
.project img {
    width: 100%; 
}
.form {
    margin-top: 50px;
    padding: 90px;
    background-color: #f9f9f9;
    margin-bottom: 5%;
}



.form .form-group {
    margin-bottom: 20px;
}

.form .form-group label {
    display: block;
    margin-bottom: 5px;
}

.form .form-group input,
.form .form-group textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form button[type="submit"] {
    padding: 10px 20px;
    background-color: #001cd0;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form button[type="submit"]:hover {
    background-color: #000;
    size: 70%;
}
.form h3 {
    color: #001cd0;
    font-size: 50px;
    font-family: 'Titillium Web', sans-serif;
    margin-bottom: 0%;
    text-align: center;
    margin-top: 0%;
}
.form .form-group input,
.form .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'Titillium Web', sans-serif; 
    font-size: 100%;
}

.form .form-group label {
    display: block;
    margin-bottom: 5px;
    font-family: 'Titillium Web', sans-serif; 
    font-size: 200%;
}
.form button[type="submit"] {
    padding: 15px 30px;
    background-color: #001cd0;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Titillium Web', sans-serif;
    font-size: 18px;
    float: right;
    
}

.form button[type="submit"]:hover {
    background-color: #000;
}

footer {
    background-color: #001cd0;
    padding: 20px;
    text-align: center;
    margin: 0;
}
.footer-text {
    font-family: 'Titillium Web', sans-serif;
    font-size: 24px;
    color: white;
    margin-bottom: 10px;
}

.social-icons img {
    width: 30px;
    margin: 0 10px;
}

